<ion-app>
  <ion-split-pane color="dark">
    <ion-menu color="dark">
      <ion-header color="dark">
        <ion-toolbar color="dark">
          <ion-title color="danger">Shov App</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content color="dark">
        <ion-list color="danger">
          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages">
            <ion-item color="dark" [routerDirection]="'root'" [routerLink]="[p.url]">
              <ion-icon color="danger" slot="start" [name]="p.icon"></ion-icon>
              <ion-label color="danger">
                {{p.title}}
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet main></ion-router-outlet>
  </ion-split-pane>
</ion-app>
