<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
    <ion-title>test</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  
  <ion-item>
    <ion-label>Test Name</ion-label>
    <ion-input type="text" [(ngModel)]="testname"></ion-input>
  </ion-item>
    <ion-item>
        <ion-label>Number of iterations:</ion-label>
        <ion-input type="number"  [(ngModel)]="n"></ion-input>
      </ion-item>
      <ion-button (click)="begintest()">Start Test</ion-button>

</ion-content>
<div posmap style="padding: 10px; margin: auto"></div>
