<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
    <ion-title>test</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  
  <ion-item>
    <ion-label>Test Name</ion-label>
    <ion-input type="text"></ion-input>
  </ion-item>

  <ion-item>
      <ion-label>x</ion-label>
      <ion-input type="number"></ion-input>
      <ion-label>y</ion-label>
      <ion-input type="number"></ion-input>
    </ion-item>
    <ion-item>
        <ion-label>Number of iterations:</ion-label>
        <ion-input type="number"></ion-input>
      </ion-item>
      <ion-button>Start Test</ion-button>

</ion-content>
