<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Location Map
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card>
      <div mapstage></div>
    </ion-card>

</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-button (click)="shovService.bleScan()">Start Scan</ion-button>
    <ion-button (click)="shovService.stopScan()" color="danger">Stop Scan</ion-button>
  </ion-toolbar>
</ion-footer>
    

