<ion-header>
  <ion-toolbar color="danger">
    <ion-buttons slot="start">
      <ion-menu-button color="dark"></ion-menu-button>
    </ion-buttons>
    <ion-title color="dark">
      Indoor Map
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="dark">
    <ion-card color="dark">

          <div mapstage></div>

    </ion-card>

</ion-content>

<ion-footer color="dark">
  <ion-toolbar color="dark">
    <ion-button shape="round" fill="outline" (click)="notify()" color="light">Start Scan</ion-button>
    <ion-button shape="round" fill="outline" (click)="shovService.stopScan()" color="medium">Stop Scan</ion-button>
  </ion-toolbar>
</ion-footer>
    

